<h1>Doses#new</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<%= link_to "Go back", cocktails_path, class: "btn btn-warning" %>
